---
layout: layout-base.njk
eleventyComputed:
    titre:  "{{ page.accueil.titre }}"
    subtitle: "{{ page.accueil.description }}"
---

<p>{{page.accueil.titre}} - ({{titre}})</p>

<p>{{page.accueil.description}}</p>