<!doctype html>
<html lang="fr">
<head>
<meta charset="utf-8">
<title>{{titre}}</title>
</head>
<body>
    <h1>{{titre}}</h1>
    {% if subtitle %}
        <h2>{{subtitle}}</h2>
    {% endif %}
    {{content | safe}}
</body>
</html>